* {
	margin: 0px;padding: 0px;
}
footer {
	font-family: monospace;
	background-color: whitesmoke;
	padding: 20px;
}
footer div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}