.cardList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.main {
	padding: 300px;
	height: 100vh;
	width: 100%;
}
.main h1 {
	font-family: monospace;
	font-size: 30px;
	padding: 24px 0;
	letter-spacing: 1px;
}
.main h1, .main p {
	text-align: center;
	font-size: 20px;
	line-height: 2px;
	padding: 24px 0;
}
