body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

.cover {
	height: 100vh;
	padding: 0px;
	margin: 0px;
	width: 100%;
	position: relative;
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-size: 100% 100%;
	background-image: url(img/img1.png);
}
.wrap {
	height: inherit;
	text-align: center;
	padding: 120px;
	width: 100%;
	/*background: linear-gradient(rgba(0, 0, 300, 0.7), rgba(0, 0, 100, 0.5));*/
	background-image: linear-gradient(0deg,rgba(26,40,120,.7),rgba(10,143,196,.7));
}

.header {
	margin-top: 200px;
	font-size: 50px;
}
.description {
	margin-top: 10px;
	font-size: 20px;
}