body {
  font-family: sans-serif;
}
.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #BBDEFB;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 100%;
  height: 100vh;
  position: relative;
  perspective: 1000px;
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
  border-radius: 10px;
}
.front {
  background-color: #fff;
}
.back {
  background-color: #BDBDBD;
  transform: rotateY(180deg);
}
.done .front {transform: rotateY(180deg);}
.done .back {transform: rotateY(360deg);}